

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Using django-filter &mdash; django-filter 0.14.0 documentation</title>
  

  
  

  

  
  
    

  

  
  
    <link rel="stylesheet" href="_static/css/theme.css" type="text/css" />
  

  

  
    <link rel="top" title="django-filter 0.14.0 documentation" href="index.html"/>
        <link rel="next" title="Django Rest Framework" href="rest_framework.html"/>
        <link rel="prev" title="Installing django-filter" href="install.html"/> 

  
  <script src="_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="index.html" class="icon icon-home"> django-filter
          

          
          </a>

          
            
            
              <div class="version">
                0.14.0
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
                <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="install.html">Installing django-filter</a></li>
<li class="toctree-l1 current"><a class="current reference internal" href="#">Using django-filter</a><ul>
<li class="toctree-l2"><a class="reference internal" href="#the-model">The model</a></li>
<li class="toctree-l2"><a class="reference internal" href="#the-filter">The filter</a><ul>
<li class="toctree-l3"><a class="reference internal" href="#declaring-filters">Declaring filters</a></li>
<li class="toctree-l3"><a class="reference internal" href="#common-declarative-problems">Common declarative problems</a><ul>
<li class="toctree-l4"><a class="reference internal" href="#filter-name-and-lookup-expr-not-configured">Filter <code class="docutils literal"><span class="pre">name</span></code> and <code class="docutils literal"><span class="pre">lookup_expr</span></code> not configured</a></li>
<li class="toctree-l4"><a class="reference internal" href="#missing-lookup-expr-for-text-search-filters">Missing <code class="docutils literal"><span class="pre">lookup_expr</span></code> for text search filters</a></li>
<li class="toctree-l4"><a class="reference internal" href="#filter-and-lookup-expression-mismatch-in-range-isnull">Filter and lookup expression mismatch (in, range, isnull)</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="#generating-filters-with-meta-fields">Generating filters with Meta.fields</a><ul>
<li class="toctree-l4"><a class="reference internal" href="#overriding-default-filters">Overriding default filters</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="#customize-filtering-with-filter-method">Customize filtering with <code class="docutils literal"><span class="pre">Filter.method</span></code></a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="#the-view">The view</a></li>
<li class="toctree-l2"><a class="reference internal" href="#the-url-conf">The URL conf</a></li>
<li class="toctree-l2"><a class="reference internal" href="#the-template">The template</a></li>
<li class="toctree-l2"><a class="reference internal" href="#generic-view-configuration">Generic view  &amp; configuration</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="rest_framework.html">Django Rest Framework</a></li>
<li class="toctree-l1"><a class="reference internal" href="ref/filterset.html">FilterSet Guide</a></li>
<li class="toctree-l1"><a class="reference internal" href="ref/filters.html">Filter Reference</a></li>
<li class="toctree-l1"><a class="reference internal" href="ref/fields.html">Fields Reference</a></li>
<li class="toctree-l1"><a class="reference internal" href="ref/widgets.html">Widget Reference</a></li>
<li class="toctree-l1"><a class="reference internal" href="ref/settings.html">Available Settings</a></li>
<li class="toctree-l1"><a class="reference internal" href="migration.html">Migrating to 1.0</a></li>
<li class="toctree-l1"><a class="reference internal" href="tests.html">Running the django-filter tests</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="index.html">django-filter</a>
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          

 



<div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="index.html">Docs</a> &raquo;</li>
      
    <li>Using django-filter</li>
      <li class="wy-breadcrumbs-aside">
        
          
            <a href="_sources/usage.txt" rel="nofollow"> View page source</a>
          
        
      </li>
  </ul>
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="using-django-filter">
<h1>Using django-filter<a class="headerlink" href="#using-django-filter" title="Permalink to this headline">¶</a></h1>
<p>Django-filter provides a simple way to filter down a queryset based on
parameters a user provides.  Say we have a <code class="docutils literal"><span class="pre">Product</span></code> model and we want to let
our users filter which products they see on a list page.</p>
<div class="section" id="the-model">
<h2>The model<a class="headerlink" href="#the-model" title="Permalink to this headline">¶</a></h2>
<p>Let&#8217;s start with our model:</p>
<div class="highlight-default"><div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">django.db</span> <span class="k">import</span> <span class="n">models</span>

<span class="k">class</span> <span class="nc">Product</span><span class="p">(</span><span class="n">models</span><span class="o">.</span><span class="n">Model</span><span class="p">):</span>
    <span class="n">name</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">CharField</span><span class="p">(</span><span class="n">max_length</span><span class="o">=</span><span class="mi">255</span><span class="p">)</span>
    <span class="n">price</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">DecimalField</span><span class="p">()</span>
    <span class="n">description</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">TextField</span><span class="p">()</span>
    <span class="n">release_date</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">DateField</span><span class="p">()</span>
    <span class="n">manufacturer</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">ForeignKey</span><span class="p">(</span><span class="n">Manufacturer</span><span class="p">)</span>
</pre></div>
</div>
</div>
<div class="section" id="the-filter">
<h2>The filter<a class="headerlink" href="#the-filter" title="Permalink to this headline">¶</a></h2>
<p>We have a number of fields and we want to let our users filter based on the
price or the release_date.  We create a <code class="docutils literal"><span class="pre">FilterSet</span></code> for this:</p>
<div class="highlight-default"><div class="highlight"><pre><span></span><span class="kn">import</span> <span class="nn">django_filters</span>

<span class="k">class</span> <span class="nc">ProductFilter</span><span class="p">(</span><span class="n">django_filters</span><span class="o">.</span><span class="n">FilterSet</span><span class="p">):</span>
    <span class="n">name</span> <span class="o">=</span> <span class="n">django_filters</span><span class="o">.</span><span class="n">CharFilter</span><span class="p">(</span><span class="n">lookup_expr</span><span class="o">=</span><span class="s1">&#39;iexact&#39;</span><span class="p">)</span>

    <span class="k">class</span> <span class="nc">Meta</span><span class="p">:</span>
        <span class="n">model</span> <span class="o">=</span> <span class="n">Product</span>
        <span class="n">fields</span> <span class="o">=</span> <span class="p">[</span><span class="s1">&#39;price&#39;</span><span class="p">,</span> <span class="s1">&#39;release_date&#39;</span><span class="p">]</span>
</pre></div>
</div>
<p>As you can see this uses a very similar API to Django&#8217;s <code class="docutils literal"><span class="pre">ModelForm</span></code>.  Just
like with a <code class="docutils literal"><span class="pre">ModelForm</span></code> we can also override filters, or add new ones using a
declarative syntax.</p>
<div class="section" id="declaring-filters">
<h3>Declaring filters<a class="headerlink" href="#declaring-filters" title="Permalink to this headline">¶</a></h3>
<p>The declarative syntax provides you with the most flexibility when creating
filters, however it is fairly verbose. We&#8217;ll use the below example to outline
the <a class="reference internal" href="ref/filters.html#core-arguments"><span class="std std-ref">core filter arguments</span></a> on a <code class="docutils literal"><span class="pre">FilterSet</span></code>:</p>
<div class="highlight-default"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">ProductFilter</span><span class="p">(</span><span class="n">django_filters</span><span class="o">.</span><span class="n">FilterSet</span><span class="p">):</span>
    <span class="n">price</span> <span class="o">=</span> <span class="n">django_filters</span><span class="o">.</span><span class="n">NumberFilter</span><span class="p">()</span>
    <span class="n">price__gt</span> <span class="o">=</span> <span class="n">django_filters</span><span class="o">.</span><span class="n">NumberFilter</span><span class="p">(</span><span class="n">name</span><span class="o">=</span><span class="s1">&#39;price&#39;</span><span class="p">,</span> <span class="n">lookup_expr</span><span class="o">=</span><span class="s1">&#39;gt&#39;</span><span class="p">)</span>
    <span class="n">price__lt</span> <span class="o">=</span> <span class="n">django_filters</span><span class="o">.</span><span class="n">NumberFilter</span><span class="p">(</span><span class="n">name</span><span class="o">=</span><span class="s1">&#39;price&#39;</span><span class="p">,</span> <span class="n">lookup_expr</span><span class="o">=</span><span class="s1">&#39;lt&#39;</span><span class="p">)</span>

    <span class="n">release_year</span> <span class="o">=</span> <span class="n">django_filters</span><span class="o">.</span><span class="n">NumberFilter</span><span class="p">(</span><span class="n">name</span><span class="o">=</span><span class="s1">&#39;release_date&#39;</span><span class="p">,</span> <span class="n">lookup_expr</span><span class="o">=</span><span class="s1">&#39;year&#39;</span><span class="p">)</span>
    <span class="n">release_year__gt</span> <span class="o">=</span> <span class="n">django_filters</span><span class="o">.</span><span class="n">NumberFilter</span><span class="p">(</span><span class="n">name</span><span class="o">=</span><span class="s1">&#39;release_date&#39;</span><span class="p">,</span> <span class="n">lookup_expr</span><span class="o">=</span><span class="s1">&#39;year__gt&#39;</span><span class="p">)</span>
    <span class="n">release_year__lt</span> <span class="o">=</span> <span class="n">django_filters</span><span class="o">.</span><span class="n">NumberFilter</span><span class="p">(</span><span class="n">name</span><span class="o">=</span><span class="s1">&#39;release_date&#39;</span><span class="p">,</span> <span class="n">lookup_expr</span><span class="o">=</span><span class="s1">&#39;year__lt&#39;</span><span class="p">)</span>

    <span class="n">manufacturer__name</span> <span class="o">=</span> <span class="n">django_filters</span><span class="o">.</span><span class="n">CharFilter</span><span class="p">(</span><span class="n">lookup_expr</span><span class="o">=</span><span class="s1">&#39;icontains&#39;</span><span class="p">)</span>

    <span class="k">class</span> <span class="nc">Meta</span><span class="p">:</span>
        <span class="n">model</span> <span class="o">=</span> <span class="n">Product</span>
</pre></div>
</div>
<p>There are two main arguments for filters:</p>
<ul class="simple">
<li><code class="docutils literal"><span class="pre">name</span></code>: The name of the model field to filter on. You can traverse
&#8220;relationship paths&#8221; using Django&#8217;s <code class="docutils literal"><span class="pre">__</span></code> syntax to filter fields on a
related model. ex, <code class="docutils literal"><span class="pre">manufacturer__name</span></code>.</li>
<li><code class="docutils literal"><span class="pre">lookup_expr</span></code>: The <a class="reference external" href="https://docs.djangoproject.com/en/dev/ref/models/querysets/#field-lookups">field lookup</a> to use when filtering. Django&#8217;s <code class="docutils literal"><span class="pre">__</span></code>
syntax can again be used in order to support lookup transforms.
ex, <code class="docutils literal"><span class="pre">year__gte</span></code>.</li>
</ul>
<p>Together, the field <code class="docutils literal"><span class="pre">name</span></code> and <code class="docutils literal"><span class="pre">lookup_expr</span></code> represent a complete Django
lookup expression. A detailed explanation of lookup expressions is provided in
Django&#8217;s <a class="reference external" href="https://docs.djangoproject.com/en/dev/ref/models/lookups/#module-django.db.models.lookups">lookup reference</a>. django-filter supports expressions containing
both transforms and a final lookup for version 1.9 of Django and above.
For Django version 1.8, transformed expressions are not supported.</p>
</div>
<div class="section" id="common-declarative-problems">
<h3>Common declarative problems<a class="headerlink" href="#common-declarative-problems" title="Permalink to this headline">¶</a></h3>
<p>Below are some of the common problem that occur when declaring filters. It is
recommended that you do read this as it provides a more complete understanding
on how filters work.</p>
<div class="section" id="filter-name-and-lookup-expr-not-configured">
<h4>Filter <code class="docutils literal"><span class="pre">name</span></code> and <code class="docutils literal"><span class="pre">lookup_expr</span></code> not configured<a class="headerlink" href="#filter-name-and-lookup-expr-not-configured" title="Permalink to this headline">¶</a></h4>
<p>While <code class="docutils literal"><span class="pre">name</span></code> and <code class="docutils literal"><span class="pre">lookup_expr</span></code> are optional, it is recommended that you specify
them. By default, if <code class="docutils literal"><span class="pre">name</span></code> is not specified, the filter&#8217;s name on the
filterset class will be used. Additionally, <code class="docutils literal"><span class="pre">lookup_expr</span></code> defaults to
<code class="docutils literal"><span class="pre">exact</span></code>. The following is an example of a misconfigured price filter:</p>
<div class="highlight-default"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">ProductFilter</span><span class="p">(</span><span class="n">django_filters</span><span class="o">.</span><span class="n">FilterSet</span><span class="p">):</span>
    <span class="n">price__gt</span> <span class="o">=</span> <span class="n">django_filters</span><span class="o">.</span><span class="n">NumberFilter</span><span class="p">()</span>
</pre></div>
</div>
<p>The filter instance will have a field name of <code class="docutils literal"><span class="pre">price__gt</span></code> and an <code class="docutils literal"><span class="pre">exact</span></code>
lookup type. Under the hood, this will incorrectly be resolved as:</p>
<div class="highlight-default"><div class="highlight"><pre><span></span><span class="n">Produce</span><span class="o">.</span><span class="n">objects</span><span class="o">.</span><span class="n">filter</span><span class="p">(</span><span class="n">price__gt__exact</span><span class="o">=</span><span class="n">value</span><span class="p">)</span>
</pre></div>
</div>
<p>The above will most likely generate a <code class="docutils literal"><span class="pre">FieldError</span></code>. The correct configuration
would be:</p>
<div class="highlight-default"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">ProductFilter</span><span class="p">(</span><span class="n">django_filters</span><span class="o">.</span><span class="n">FilterSet</span><span class="p">):</span>
    <span class="n">price__gt</span> <span class="o">=</span> <span class="n">django_filters</span><span class="o">.</span><span class="n">NumberFilter</span><span class="p">(</span><span class="n">name</span><span class="o">=</span><span class="s1">&#39;price&#39;</span><span class="p">,</span> <span class="n">lookup_expr</span><span class="o">=</span><span class="s1">&#39;gt&#39;</span><span class="p">)</span>
</pre></div>
</div>
</div>
<div class="section" id="missing-lookup-expr-for-text-search-filters">
<h4>Missing <code class="docutils literal"><span class="pre">lookup_expr</span></code> for text search filters<a class="headerlink" href="#missing-lookup-expr-for-text-search-filters" title="Permalink to this headline">¶</a></h4>
<p>It&#8217;s quite common to forget to set the lookup expression for <code class="code docutils literal"><span class="pre">CharField</span></code>
and <code class="code docutils literal"><span class="pre">TextField</span></code> and wonder why a search for &#8220;foo&#8221; does not return results
for &#8220;foobar&#8221;. This is because the default lookup type is <code class="docutils literal"><span class="pre">exact</span></code>, but you
probably want to perform  an <code class="docutils literal"><span class="pre">icontains</span></code> lookup.</p>
</div>
<div class="section" id="filter-and-lookup-expression-mismatch-in-range-isnull">
<h4>Filter and lookup expression mismatch (in, range, isnull)<a class="headerlink" href="#filter-and-lookup-expression-mismatch-in-range-isnull" title="Permalink to this headline">¶</a></h4>
<p>It&#8217;s not always appropriate to directly match a filter to its model field&#8217;s
type, as some lookups expect different types of values. This is a commonly
found issue with <code class="docutils literal"><span class="pre">in</span></code>, <code class="docutils literal"><span class="pre">range</span></code>, and <code class="docutils literal"><span class="pre">isnull</span></code> lookups. Let&#8217;s look
at the following product model:</p>
<div class="highlight-default"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">Product</span><span class="p">(</span><span class="n">models</span><span class="o">.</span><span class="n">Model</span><span class="p">):</span>
    <span class="n">category</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">ForeignKey</span><span class="p">(</span><span class="n">Category</span><span class="p">,</span> <span class="n">null</span><span class="o">=</span><span class="kc">True</span><span class="p">)</span>
</pre></div>
</div>
<p>Given that <code class="docutils literal"><span class="pre">category</span></code> is optional, it&#8217;s reasonable to want to enable a search
for uncategorized products. The following is an incorrectly configured
<code class="docutils literal"><span class="pre">isnull</span></code> filter:</p>
<div class="highlight-default"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">ProductFilter</span><span class="p">(</span><span class="n">django_filters</span><span class="o">.</span><span class="n">FilterSet</span><span class="p">):</span>
    <span class="n">uncategorized</span> <span class="o">=</span> <span class="n">django_filters</span><span class="o">.</span><span class="n">NumberFilter</span><span class="p">(</span><span class="n">name</span><span class="o">=</span><span class="s1">&#39;category&#39;</span><span class="p">,</span> <span class="n">lookup_expr</span><span class="o">=</span><span class="s1">&#39;isnull&#39;</span><span class="p">)</span>
</pre></div>
</div>
<p>So what&#8217;s the issue? While the underlying column type for <code class="docutils literal"><span class="pre">category</span></code> is an
integer, <code class="docutils literal"><span class="pre">isnull</span></code> lookups expect a boolean value. A <code class="docutils literal"><span class="pre">NumberFilter</span></code> however
only validates numbers. Filters are not <cite>&#8216;expression aware&#8217;</cite> and won&#8217;t change
behavior based on their <code class="docutils literal"><span class="pre">lookup_expr</span></code>. You should use filters that match the
data type of the lookup expression <cite>instead</cite> of the data type underlying model
field. The following would correctly allow you to search for both uncategorized
products and products for a set of categories:</p>
<div class="highlight-default"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">NumberInFilter</span><span class="p">(</span><span class="n">django_filters</span><span class="o">.</span><span class="n">BaseInFilter</span><span class="p">,</span> <span class="n">django_filters</span><span class="o">.</span><span class="n">NumberFilter</span><span class="p">):</span>
    <span class="k">pass</span>

<span class="k">class</span> <span class="nc">ProductFilter</span><span class="p">(</span><span class="n">django_filters</span><span class="o">.</span><span class="n">FilterSet</span><span class="p">):</span>
    <span class="n">categories</span> <span class="o">=</span> <span class="n">NumberInFilter</span><span class="p">(</span><span class="n">name</span><span class="o">=</span><span class="s1">&#39;category&#39;</span><span class="p">,</span> <span class="n">lookup_expr</span><span class="o">=</span><span class="s1">&#39;in&#39;</span><span class="p">)</span>
    <span class="n">uncategorized</span> <span class="o">=</span> <span class="n">django_filters</span><span class="o">.</span><span class="n">BooleanFilter</span><span class="p">(</span><span class="n">name</span><span class="o">=</span><span class="s1">&#39;category&#39;</span><span class="p">,</span> <span class="n">lookup_expr</span><span class="o">=</span><span class="s1">&#39;isnull&#39;</span><span class="p">)</span>
</pre></div>
</div>
<p>More info on constructing IN and RANGE csv <a class="reference internal" href="ref/filters.html#base-in-filter"><span class="std std-ref">filters</span></a>.</p>
</div>
</div>
<div class="section" id="generating-filters-with-meta-fields">
<h3>Generating filters with Meta.fields<a class="headerlink" href="#generating-filters-with-meta-fields" title="Permalink to this headline">¶</a></h3>
<p>The FilterSet Meta class provides a <code class="docutils literal"><span class="pre">fields</span></code> attribute that can be used for
easily specifying multiple filters without significant code duplication. The
base syntax supports a list of multiple field names:</p>
<div class="highlight-default"><div class="highlight"><pre><span></span><span class="kn">import</span> <span class="nn">django_filters</span>

<span class="k">class</span> <span class="nc">ProductFilter</span><span class="p">(</span><span class="n">django_filters</span><span class="o">.</span><span class="n">FilterSet</span><span class="p">):</span>
    <span class="k">class</span> <span class="nc">Meta</span><span class="p">:</span>
        <span class="n">model</span> <span class="o">=</span> <span class="n">Product</span>
        <span class="n">fields</span> <span class="o">=</span> <span class="p">[</span><span class="s1">&#39;price&#39;</span><span class="p">,</span> <span class="s1">&#39;release_date&#39;</span><span class="p">]</span>
</pre></div>
</div>
<p>The above generates &#8216;exact&#8217; lookups for both the &#8216;price&#8217; and &#8216;release_date&#8217;
fields.</p>
<p>Additionally, a dictionary can be used to specify multiple lookup expressions
for each field:</p>
<div class="highlight-default"><div class="highlight"><pre><span></span><span class="kn">import</span> <span class="nn">django_filters</span>

<span class="k">class</span> <span class="nc">ProductFilter</span><span class="p">(</span><span class="n">django_filters</span><span class="o">.</span><span class="n">FilterSet</span><span class="p">):</span>
    <span class="k">class</span> <span class="nc">Meta</span><span class="p">:</span>
        <span class="n">model</span> <span class="o">=</span> <span class="n">Product</span>
        <span class="n">fields</span> <span class="o">=</span> <span class="p">{</span>
            <span class="s1">&#39;price&#39;</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;lt&#39;</span><span class="p">,</span> <span class="s1">&#39;gt&#39;</span><span class="p">],</span>
            <span class="s1">&#39;release_date&#39;</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;exact&#39;</span><span class="p">,</span> <span class="s1">&#39;year__gt&#39;</span><span class="p">],</span>
        <span class="p">}</span>
</pre></div>
</div>
<p>The above would generate &#8216;price__lt&#8217;, &#8216;price__gt&#8217;, &#8216;release_date&#8217;, and
&#8216;release_date__year__gt&#8217; filters.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">The filter lookup type &#8216;exact&#8217; is an implicit default and therefore never
added to a filter name. In the above example, the release date&#8217;s exact
filter is &#8216;release_date&#8217;, not &#8216;release_date__exact&#8217;.</p>
</div>
<p>Items in the <code class="docutils literal"><span class="pre">fields</span></code> sequence in the <code class="docutils literal"><span class="pre">Meta</span></code> class may include
&#8220;relationship paths&#8221; using Django&#8217;s <code class="docutils literal"><span class="pre">__</span></code> syntax to filter on fields on a
related model:</p>
<div class="highlight-default"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">ProductFilter</span><span class="p">(</span><span class="n">django_filters</span><span class="o">.</span><span class="n">FilterSet</span><span class="p">):</span>
    <span class="k">class</span> <span class="nc">Meta</span><span class="p">:</span>
        <span class="n">model</span> <span class="o">=</span> <span class="n">Product</span>
        <span class="n">fields</span> <span class="o">=</span> <span class="p">[</span><span class="s1">&#39;manufacturer__country&#39;</span><span class="p">]</span>
</pre></div>
</div>
<div class="section" id="overriding-default-filters">
<h4>Overriding default filters<a class="headerlink" href="#overriding-default-filters" title="Permalink to this headline">¶</a></h4>
<p>Like <code class="docutils literal"><span class="pre">django.contrib.admin.ModelAdmin</span></code>, it is possible to override
default filters for all the models fields of the same kind using
<code class="docutils literal"><span class="pre">filter_overrides</span></code>:</p>
<div class="highlight-default"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">ProductFilter</span><span class="p">(</span><span class="n">django_filters</span><span class="o">.</span><span class="n">FilterSet</span><span class="p">):</span>
    <span class="n">filter_overrides</span> <span class="o">=</span> <span class="p">{</span>
        <span class="n">models</span><span class="o">.</span><span class="n">CharField</span><span class="p">:</span> <span class="p">{</span>
            <span class="s1">&#39;filter_class&#39;</span><span class="p">:</span> <span class="n">django_filters</span><span class="o">.</span><span class="n">CharFilter</span><span class="p">,</span>
            <span class="s1">&#39;extra&#39;</span><span class="p">:</span> <span class="k">lambda</span> <span class="n">f</span><span class="p">:</span> <span class="p">{</span>
                <span class="s1">&#39;lookup_expr&#39;</span><span class="p">:</span> <span class="s1">&#39;icontains&#39;</span><span class="p">,</span>
            <span class="p">},</span>
        <span class="p">},</span>
        <span class="n">models</span><span class="o">.</span><span class="n">BooleanField</span><span class="p">:</span> <span class="p">{</span>
            <span class="s1">&#39;filter_class&#39;</span><span class="p">:</span> <span class="n">django_filters</span><span class="o">.</span><span class="n">BooleanFilter</span><span class="p">,</span>
            <span class="s1">&#39;extra&#39;</span><span class="p">:</span> <span class="k">lambda</span> <span class="n">f</span><span class="p">:</span> <span class="p">{</span>
                <span class="s1">&#39;widget&#39;</span><span class="p">:</span> <span class="s1">&#39;forms.CheckboxInput&#39;</span><span class="p">,</span>
            <span class="p">},</span>
        <span class="p">},</span>
    <span class="p">}</span>

    <span class="k">class</span> <span class="nc">Meta</span><span class="p">:</span>
        <span class="n">model</span> <span class="o">=</span> <span class="n">Product</span>
        <span class="n">fields</span> <span class="o">=</span> <span class="p">{</span>
            <span class="s1">&#39;name&#39;</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;exact&#39;</span><span class="p">],</span>
            <span class="s1">&#39;release_date&#39;</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;isnull&#39;</span><span class="p">],</span>
        <span class="p">}</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="customize-filtering-with-filter-method">
<h3>Customize filtering with <code class="docutils literal"><span class="pre">Filter.method</span></code><a class="headerlink" href="#customize-filtering-with-filter-method" title="Permalink to this headline">¶</a></h3>
<p>You can control the behavior of a filter by specifying a <code class="docutils literal"><span class="pre">method</span></code> to perform
filtering. View more information in the <a class="reference internal" href="ref/filters.html#filter-method"><span class="std std-ref">method reference</span></a>.</p>
<div class="highlight-python"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">F</span><span class="p">(</span><span class="n">django_filters</span><span class="o">.</span><span class="n">FilterSet</span><span class="p">):</span>
    <span class="n">username</span> <span class="o">=</span> <span class="n">CharFilter</span><span class="p">(</span><span class="n">method</span><span class="o">=</span><span class="s1">&#39;my_custom_filter&#39;</span><span class="p">)</span>

    <span class="k">class</span> <span class="nc">Meta</span><span class="p">:</span>
        <span class="n">model</span> <span class="o">=</span> <span class="n">User</span>
        <span class="n">fields</span> <span class="o">=</span> <span class="p">[</span><span class="s1">&#39;username&#39;</span><span class="p">]</span>

    <span class="k">def</span> <span class="nf">my_custom_filter</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">queryset</span><span class="p">,</span> <span class="n">name</span><span class="p">,</span> <span class="n">value</span><span class="p">):</span>
        <span class="k">return</span> <span class="n">queryset</span><span class="o">.</span><span class="n">filter</span><span class="p">(</span><span class="o">**</span><span class="p">{</span>
            <span class="n">name</span><span class="p">:</span> <span class="n">value</span><span class="p">,</span>
        <span class="p">})</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="the-view">
<h2>The view<a class="headerlink" href="#the-view" title="Permalink to this headline">¶</a></h2>
<p>Now we need to write a view:</p>
<div class="highlight-default"><div class="highlight"><pre><span></span><span class="k">def</span> <span class="nf">product_list</span><span class="p">(</span><span class="n">request</span><span class="p">):</span>
    <span class="n">f</span> <span class="o">=</span> <span class="n">ProductFilter</span><span class="p">(</span><span class="n">request</span><span class="o">.</span><span class="n">GET</span><span class="p">,</span> <span class="n">queryset</span><span class="o">=</span><span class="n">Product</span><span class="o">.</span><span class="n">objects</span><span class="o">.</span><span class="n">all</span><span class="p">())</span>
    <span class="k">return</span> <span class="n">render</span><span class="p">(</span><span class="n">request</span><span class="p">,</span> <span class="s1">&#39;my_app/template.html&#39;</span><span class="p">,</span> <span class="p">{</span><span class="s1">&#39;filter&#39;</span><span class="p">:</span> <span class="n">f</span><span class="p">})</span>
</pre></div>
</div>
<p>If a queryset argument isn&#8217;t provided then all the items in the default manager
of the model will be used.</p>
<p>If you want to access the filtered objects in your views, for example if you
want to paginate them, you can do that. They are in f.qs</p>
</div>
<div class="section" id="the-url-conf">
<h2>The URL conf<a class="headerlink" href="#the-url-conf" title="Permalink to this headline">¶</a></h2>
<p>We need a URL pattern to call the view:</p>
<div class="highlight-default"><div class="highlight"><pre><span></span><span class="n">url</span><span class="p">(</span><span class="s1">r&#39;^list$&#39;</span><span class="p">,</span> <span class="n">views</span><span class="o">.</span><span class="n">product_list</span><span class="p">)</span>
</pre></div>
</div>
</div>
<div class="section" id="the-template">
<h2>The template<a class="headerlink" href="#the-template" title="Permalink to this headline">¶</a></h2>
<p>And lastly we need a template:</p>
<div class="highlight-default"><div class="highlight"><pre><span></span>{% extends &quot;base.html&quot; %}

{% block content %}
    &lt;form action=&quot;&quot; method=&quot;get&quot;&gt;
        {{ filter.form.as_p }}
        &lt;input type=&quot;submit&quot; /&gt;
    &lt;/form&gt;
    {% for obj in filter.qs %}
        {{ obj.name }} - ${{ obj.price }}&lt;br /&gt;
    {% endfor %}
{% endblock %}
</pre></div>
</div>
<p>And that&#8217;s all there is to it!  The <code class="docutils literal"><span class="pre">form</span></code> attribute contains a normal
Django form, and when we iterate over the <code class="docutils literal"><span class="pre">FilterSet.qs</span></code> we get the objects in
the resulting queryset.</p>
</div>
<div class="section" id="generic-view-configuration">
<h2>Generic view  &amp; configuration<a class="headerlink" href="#generic-view-configuration" title="Permalink to this headline">¶</a></h2>
<p>In addition to the above usage there is also a class-based generic view
included in django-filter, which lives at <code class="docutils literal"><span class="pre">django_filters.views.FilterView</span></code>.
You must provide either a <code class="docutils literal"><span class="pre">model</span></code> or <code class="docutils literal"><span class="pre">filterset_class</span></code> argument, similar to
<code class="docutils literal"><span class="pre">ListView</span></code> in Django itself:</p>
<div class="highlight-default"><div class="highlight"><pre><span></span><span class="c1"># urls.py</span>
<span class="kn">from</span> <span class="nn">django.conf.urls</span> <span class="k">import</span> <span class="n">url</span>
<span class="kn">from</span> <span class="nn">django_filters.views</span> <span class="k">import</span> <span class="n">FilterView</span>
<span class="kn">from</span> <span class="nn">myapp.models</span> <span class="k">import</span> <span class="n">Product</span>

<span class="n">urlpatterns</span> <span class="o">=</span> <span class="p">[</span>
    <span class="n">url</span><span class="p">(</span><span class="s1">r&#39;^list/$&#39;</span><span class="p">,</span> <span class="n">FilterView</span><span class="o">.</span><span class="n">as_view</span><span class="p">(</span><span class="n">model</span><span class="o">=</span><span class="n">Product</span><span class="p">)),</span>
<span class="p">]</span>
</pre></div>
</div>
<p>You must provide a template at <code class="docutils literal"><span class="pre">&lt;app&gt;/&lt;model&gt;_filter.html</span></code> which gets the
context parameter <code class="docutils literal"><span class="pre">filter</span></code>.  Additionally, the context will contain
<code class="docutils literal"><span class="pre">object_list</span></code> which holds the filtered queryset.</p>
<p>A legacy functional generic view is still included in django-filter, although
its use is deprecated.  It can be found at
<code class="docutils literal"><span class="pre">django_filters.views.object_filter</span></code>.  You must provide the same arguments
to it as the class based view:</p>
<div class="highlight-default"><div class="highlight"><pre><span></span><span class="c1"># urls.py</span>
<span class="kn">from</span> <span class="nn">django.conf.urls</span> <span class="k">import</span> <span class="n">url</span>
<span class="kn">from</span> <span class="nn">django_filters.views</span> <span class="k">import</span> <span class="n">object_filter</span>
<span class="kn">from</span> <span class="nn">myapp.models</span> <span class="k">import</span> <span class="n">Product</span>

<span class="n">urlpatterns</span> <span class="o">=</span> <span class="p">[</span>
    <span class="n">url</span><span class="p">(</span><span class="s1">r&#39;^list/$&#39;</span><span class="p">,</span> <span class="n">object_filter</span><span class="p">,</span> <span class="p">{</span><span class="s1">&#39;model&#39;</span><span class="p">:</span> <span class="n">Product</span><span class="p">}),</span>
<span class="p">]</span>
</pre></div>
</div>
<p>The needed template and its context variables will also be the same as the
class-based view above.</p>
</div>
</div>


           </div>
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="rest_framework.html" class="btn btn-neutral float-right" title="Django Rest Framework" accesskey="n">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="install.html" class="btn btn-neutral" title="Installing django-filter" accesskey="p"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2013, Alex Gaynor and others..

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/snide/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'./',
            VERSION:'0.14.0',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true
        };
    </script>
      <script type="text/javascript" src="_static/jquery.js"></script>
      <script type="text/javascript" src="_static/underscore.js"></script>
      <script type="text/javascript" src="_static/doctools.js"></script>

  

  
  
    <script type="text/javascript" src="_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>